* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.App {
  background-color: #007bff35;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-image: repeating-linear-gradient(45deg, #007bff52, #007bffbf 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  text-align: center;
}

.footer {
  background-image: repeating-linear-gradient(45deg, #007bff52, #007bffbf 100px);
  height: 20px;
  width: 100%;
  flex-shrink: 0;
}

.header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  font-weight: 500;
}

.main {
  width: 90vw;
  margin: auto;
  padding-bottom: 20px;

  flex: 1 0 auto;
}

.optionsBar {
  display: flex;
  margin: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.cards-collections {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

div.card {
  margin: 10px;
  min-width: 14em;
  max-width: 20em;
  word-wrap: break-word;
  flex-grow: 1;
  border-radius: 50px;
  background-color: #007bff44;
  border: 4px solid #007bff;
  padding: 1em;
}

.localizado {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.exist {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table,
td {
  background-color: #007bff44;
  border: 4px solid #007bff;
}
th {
  background-color: #0059b8d5;
  border: 4px solid #007bff;
  color: white;
  font-weight: 700;
}
td {
  text-align: center;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}
div .table {
  display: flex;
  justify-content: space-around;
  /* overflow-x: scroll; */
  margin: 0, 0, 0, 10px;
}
.table .btn {
  margin: 10px;
  width: 150px;
}
.lista .btn {
  margin: 10px;
  width: 150px;
}

.dropdown-menu {
  min-height: 200px;
  max-height: 400px;

  overflow-y: scroll;
}

.vertical-text {
  text-align: center;
}

#remove-table {
  width: auto;
}
#remove-table:hover {
  background-color: rgba(255, 0, 0, 0.597);
}
tr:hover {
  font-weight: 700;
  background-color: #007bff6b;
}
/* .tab-cabec{

  background-color: #0059b8d5;
  border: 4px solid #007bff;
  color: white;
  font-weight: 700;
  height: 10em;
}
.tab-cabec th{
  transform: rotate(-90deg);
  background-color: #0059b8d5;
  border: 4px solid #007bff;
  color: white;
  font-weight: 700;
} */

.options-table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.options-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.options-top > form {
  margin: 0 50px;
}
.filter {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 1em;
}
.filter > form {
  margin: 0 50px;
}

.filter > form > button {
  width: 100%;
}

.order-me {
  display: flex;
  flex-direction: column;
}
.order-me button {
  width: auto;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio > div {
  justify-content: space-between;
  margin: 10px;
}

.filters-used {
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
}
.filters-used > div {
  margin: 10px;
}

.vertical-line {
  border: 1px solid #007bff9c;
  margin: 10px 0;
  width: 100%;
}

#label-remove{
  margin: 0 10px;
}

.no-favority{
  display: flex;
  justify-content: center;
}