* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* div {
  border: 1px solid red;
} */

.header {
  background-image: repeating-linear-gradient(45deg, #007bff52, #007bffbf 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  text-align: center;
}
.header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  font-weight: 500;
}

.main {
  width: 90vw;
  margin: auto;
}

.optionsBar {
  display: flex;
  margin: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.cards-collections {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.card {
}

div.card {
  margin: 10px;
  min-width: 14em;
  max-width: 20em;
  word-wrap: break-word;
  flex-grow: 1;
  border-radius: 50px;
  background-color: #007bff44;
  border: 4px solid #007bff;
  padding: 1em;
}

.localizado {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.exist {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table,
th,
td {
  background-color: #007bff44;
  border: 4px solid #007bff;
}
td {
  text-align: center;
  margin: 10px;
}
div .table  {
  display: flex;
  justify-content: space-around;
  /* overflow-x: scroll; */
  margin: 0, 0, 0, 10px;
}
.table .btn {
  margin: 10px;
  width: 150px;
}
.lista .btn {
  margin: 10px;
  width: 150px;
}

.dropdown-menu {
  min-height: 200px;
  max-height: 400px;

  overflow-y: scroll;
}

.vertical-text {
  text-align: center;
}
